:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    scrollbar-width: none;

    /*colors*/
    --color-text: #357f9c;

    --color-seperator: #49acd37a;

    --color-submit: #05AA5D;
    --color-submit-hover: #009952;
    --color-submit-text: #FFFFFF;

    --color-active: #00bb92;
    --color-active-hover: #00a581;

    --color-entry: #8fc9ff;
    --color-entry-side: #0586ff;

    /*margin*/
    --margin-input: 0.2rem;
}

/* This attribute doesn't work with flexbox, so I'll make it myself */
[hidden] {
    display: none !important;
}

h1 {
    color: var(--color-text);
    font-size: 1.5rem;
    line-height: inherit;

    padding: var(--margin-input);

    border-bottom-style: solid;
    border-color: var(--color-seperator);
    border-width: 2px;

    min-width: 50vw;
}

.submit {
    cursor: pointer;
    border: none;

    align-self: center;

    color: var(--color-submit-text);
    text-align: center;

    margin: var(--margin-input); 

    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;

    background-color: var(--color-submit);
}
.submit:hover {background-color: var(--color-submit-hover);}

.flex-con-h {
    display: flex;
    flex-direction: row;
}



/* popup.html */

@keyframes appear {
    from {
        max-height: 0;
        min-height: 0;
        opacity: 0;
    }
    to {
        max-height: 10rem;
        min-height: 4.5rem;
        opacity: 100%;
    }
}


#work-type-input {
    flex: 2;

    margin: var(--margin-input);

    border-style: solid;
    border-color: var(--color-seperator);
    border-radius: 0.1rem;

    align-self: center;
}
input#work-type-input:focus {
    outline: none
}

input#open-analytics {
    font-size: 1rem;

    border-radius: 0.3rem;

    padding: 0.2rem;

    flex: 1
} 

input#timer-button {
    border-radius: 0.5rem;
    min-width: 15rem;
    max-width: 15rem;

    font-size: 2rem;
    
    padding: 0.9rem;
}
input#timer-button.active {background-color: var(--color-active);}
input#timer-button.active:hover {background-color: var(--color-active-hover);}

#list {
    /* background-color: #d7e7ff;
    border-radius: 0.2rem;
    */

    overflow-y: auto;
    scrollbar-width: none;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#list .entry {
        background-color: var(--color-entry);
        border: 0.4rem;
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
        border-left-style: solid;
        border-left-color: var(--color-entry-side);

        margin: 0 0 0.2rem 0.4rem;

        max-height: 10rem; /* Important for shrinking animation on deletion */
        min-height: 4.5rem;

        display: flex;
        flex-direction: row;
        flex-basis: auto;
        flex-shrink: 0;
        flex-grow: 0;
        align-items: center;

        overflow-y: hidden;

        animation-name: appear;
        animation-duration: 0.3s;
        animation-timing-function: ease-in;

        transition-property: all;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
    }

#list .entry .text {
            font-size: 1.2rem;
            padding: 0.25rem;

            overflow-wrap: normal;

            flex: 6;
        }

#list .entry .duration {
            font-size: 1.5rem;
            text-align: center;

            flex: 4;
        }

#list .entry .control {
            align-items: flex-end;

            display: flex;
            flex-direction: column;

            flex: 1;
        }

#list .entry .control .button {
                height: 1.4rem;
                width: 1.4rem;
                opacity: 75%;
                cursor: pointer;

                padding: 0.1rem;

                transition-property: all;
                transition-duration: 0.1s;
                transition-timing-function: ease-out;
            }
#list .entry .control .button:hover {
                opacity: 100%;
            }

#list .seperator {
    color: var(--color-text);
    
    margin: 0.3rem 0 0.3rem 0;
    padding-left: 0.2rem;

    border-left-style: solid;
    border-width: 3px;
    border-color: var(--color-seperator);

    position: relative;
}
#list .seperator::after {
    content: "";
    display: inline-block;
    position: absolute;
    
    background-color: var(--color-seperator);
    
    height: 2px;
    width: 100%;

    top: 50%;
    transform: translateX(0.2rem)
}


/* analytics.html */

#list.analytics {
    max-height: auto !important
}