:root {
    font-size: 16px;
}

/* This attribute doesn't work with flexbox, so I'll make it myself */
[hidden] {
    display: none !important;
}

@keyframes slide-in {
    from {transform: translate(-100%, 0)}
    to {transform: translate(0, 0)}
}

body {
    margin: 0.5rem;
    max-width: 20rem;
}

h1 {
    text-align: center;
    margin: 0.4rem;
    font-weight: normal;
}

h2 {
    margin: 0.2rem;
    font-weight: normal;
}


#history-container {
    max-height: 10rem;
    overflow-y: auto;
    scrollbar-width: none;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#work-type-input {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    min-width: 15rem;
    max-width: 15rem;

    align-self: center;
}

input#timer-button {
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    min-width: 15rem;
    max-width: 15rem;

    align-self: center;

    color: white;
    text-align: center;
    font-size: 2rem;
    
    padding: 0.9rem;
}


.off {background-color: #05AA5D;}
.off:hover {background-color: #009952;}
.on {background-color: #00bb92;}
.on:hover {background-color: #00a581;}

.smooth-transition {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.history-entry {
    background-color: #8fc9ff;
    border: 0.4rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    border-left-style: solid;
    border-left-color: #0586ff;

    margin-top: 0.2rem;

    max-width: inherit;
    min-width: inherit;

    display: flex;
    flex-direction: row;
    align-items: center;

    animation-name: slide-in;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

.history-entry-text {
    font-size: 1.2rem;
    padding: 0.25rem;

    overflow-wrap: normal;

    flex: 6;
}

.history-entry-duration {
    font-size: 1.5rem;
    text-align: center;

    flex: 4;
}

.history-entry-control {
    align-items: flex-end;

    display: flex;
    flex-direction: column;

    flex: 1;
}

.history-entry-control-button {
    height: 1.4rem;
    width: 1.4rem;
    opacity: 75%;
    cursor: pointer;

    padding: 0.1rem;
}
.history-entry-control-button:hover {
    opacity: 100%;
}