:root {
    font-size: 16px;
}

body {
    margin: 0.5rem;
}

button {
    margin-top: 0.4rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    min-width: 15rem;
}

h1 {
    text-align: center;
    margin: 0.4rem;
    font-weight: normal;
}

h2 {
    margin: 0.2rem;
    font-weight: normal;
}

th,td {
    border: 0.1rem;
    border-bottom-style: solid;
    border-bottom-color: #000000;
}

.off {background-color: #05AA5D;}
.off:hover {background-color: #009952;}
.on {background-color: #c00d00;}
.on:hover {background-color: #990a00;}


.button_text {
    color: white;
    text-align: center;
    font-size: 2rem;
    
    margin: 0.9rem;
}

.work_type_input {
    margin-top: 1rem;
}

.history {
    background-color: #ebebeb;
}