:root {
    font-size: 16px;
}

body {
    margin: 0.5rem;
    max-width: 20rem;
}

button {
    margin-top: 0.4rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    min-width: 15rem;
    max-width: 15rem;

    align-self: center;
}

h1 {
    text-align: center;
    margin: 0.4rem;
    font-weight: normal;
}

h2 {
    margin: 0.2rem;
    font-weight: normal;
}

.off {background-color: #05AA5D;}
.off:hover {background-color: #009952;}
.on {background-color: #c00d00;}
.on:hover {background-color: #990a00;}


.button_text {
    color: white;
    text-align: center;
    font-size: 2rem;
    
    margin: 0.9rem;
}

.work_type_input {
    margin-top: 1rem;
    min-width: 15rem;
    max-width: 15rem;

    align-self: center;
}

.history_entry {
    background-color: #8fc9ff;
    border: 0.4rem;
    border-left-style: solid;
    border-left-color: #0586ff;

}

.type_of_work_text {
    font-size: 1.1rem;
}

.type_of_work_duration {
    font-size: 1.5rem;
}